@using System.Threading.Tasks
@using Abp.Timing
@using Abp.Web.Security.AntiForgery
@using Pgpg.Localization
@using Pgpg.Timing
@using Pgpg.Web.Resources
@using Pgpg.Web.Views.Shared.Components.AccountLanguages
@inject ScriptPaths ScriptPaths
@inject AppTimes AppTimes
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@{
    Layout = null;
    AbpAntiForgeryManager.SetCookie(Context);
}
<!DOCTYPE html>
<html lang="en" dir=@(CultureHelper.IsRtl ? "rtl" : "")>
<head>
    <meta charset="utf-8" />
    <title>Pgpg</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">

    @* Fill these meta tags upon your project specification *@
    <meta content="Pgpg" name="description" />
    <meta content="Pgpg" name="keywords">
    <meta content="Pgpg" name="author" />

    <link rel="shortcut icon" href="~/favicon.ico" />

    <environment names="Development">
        <link rel="stylesheet" href="~/fonts/fonts-open-sans.css" asp-append-version="true" />

        @* Bundled: view-resources/Views/_Bundles/account-layout-libs[-rtl].min.css *@
        <link rel="stylesheet" href="~/lib/simple-line-icons/css/simple-line-icons.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/famfamfam-flags/dist/sprite/famfamfam-flags.css" asp-append-version="true" />
        <link rel="stylesheet" href="@(CultureHelper.IsRtl ? "~/lib/bootstrap-rtl/bootstrap-rtl.css" : "~/lib/bootstrap/dist/css/bootstrap.css")" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/jquery-uniform/css/uniform.default.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/toastr/toastr.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/sweetalert/dist/sweetalert.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/metronic/assets/global/css/components-md@(CultureHelper.IsRtl ? "-rtl" : "").css" asp-append-version="true" />
        <link rel="stylesheet" href="~/metronic/assets/global/css/plugins-md@(CultureHelper.IsRtl ? "-rtl" : "").css" asp-append-version="true" />
        <link rel="stylesheet" href="~/metronic/assets/admin/layout/css/layout@(CultureHelper.IsRtl ? "-rtl" : "").css" asp-append-version="true" />
        <link rel="stylesheet" href="~/metronic/assets/admin/layout/css/themes/default@(CultureHelper.IsRtl ? "-rtl" : "").css" asp-append-version="true" />

        <link rel="stylesheet" href="~/Common/_Bundles/common-styles.css" asp-append-version="true" />

        <link rel="stylesheet" href="~/view-resources/Views/Account/_Layout@(CultureHelper.IsRtl ? "-rtl" : "").css" asp-append-version="true" />
    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/fonts/fonts-open-sans.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/view-resources/Views/_Bundles/account-layout-libs@(CultureHelper.IsRtl ? "-rtl" : "").min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/Common/_Bundles/common-styles.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/view-resources/Views/Account/_Layout@(CultureHelper.IsRtl ? "-rtl" : "").min.css" asp-append-version="true" />
    </environment>

    @RenderSection("Styles", false)

    <script type="text/javascript">
        @* This is used to get the application's root path from javascript.
        It's useful if you're running application in a virtual directory under IIS. *@
        var abp = abp || {}; abp.appPath = '@ApplicationPath';
    </script>

</head>
<body class="page-md login">
    <div class="menu-toggler sidebar-toggler">
    </div>
    <div class="logo">
        <a href="~/">
            <img src="~/Common/Images/app-logo-on-dark.png" alt="" width="149" height="35" />
        </a>
    </div>
    <div class="content">
        @RenderBody()
    </div>

    @await Component.InvokeAsync(typeof(AccountLanguagesViewComponent))

    <div class="copyright">
        @Clock.Now.Year © Pgpg.
    </div>

    <environment names="Development">
        @* Bundled: wwwroot/view-resources/Views/_Bundles/account-layout-libs.min.js *@
        <script src="~/lib/json2/json2.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
        <script src="~/lib/blockUI/jquery.blockUI.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-uniform/jquery.uniform.js" asp-append-version="true"></script>
        <script src="~/lib/jquery.cookie/jquery.cookie.js" asp-append-version="true"></script>
        <script src="~/lib/toastr/toastr.js" asp-append-version="true"></script>
        <script src="~/lib/spin.js/spin.js" asp-append-version="true"></script>
        <script src="~/lib/spin.js/jquery.spin.js" asp-append-version="true"></script>
        <script src="~/lib/sweetalert/dist/sweetalert-dev.js" asp-append-version="true"></script>
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/abp.js" asp-append-version="true"></script>
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.jquery.js" asp-append-version="true"></script>
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.toastr.js" asp-append-version="true"></script>
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.blockUI.js" asp-append-version="true"></script>
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.spin.js" asp-append-version="true"></script>
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.sweet-alert.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/_Bundles/account-layout-libs.min.js" asp-append-version="true"></script>
    </environment>

    <script type="text/javascript">
        abp.localization.defaultSourceName = '@LocalizationSourceName';
    </script>

    <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
    <script src="~/AbpScripts/GetScripts?v=@AppTimes.StartupTime.Ticks" type="text/javascript"></script>

    <script src="@ScriptPaths.JQuery_Validation_Localization" asp-append-version="true"></script>

    <environment names="Development">
        <script src="~/metronic/assets/global/scripts/app.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/metronic/assets/global/scripts/app.js" asp-append-version="true"></script>
    </environment>

    <script type="text/javascript">
        App.setAssetsPath(abp.appPath + 'metronic/assets/');
    </script>

    <environment names="Development">
        @* Bundle (not minified) for all scripts in Common/Scripts folder. Minified: wwwroot/Common/_Bundles/common-scripts.min.js *@
        <script src="~/Common/_Bundles/common-scripts.js" asp-append-version="true"></script>
        <script src="~/metronic/assets/admin/layout/scripts/layout.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/Common/_Bundles/common-scripts.min.js" asp-append-version="true"></script>
        <script src="~/metronic/assets/admin/layout/scripts/layout.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", false)

    <script>
        jQuery(document).ready(function () {
            if (CurrentPage) {
                CurrentPage.init();
            }
        });
    </script>
</body>
</html>
