@using Abp.Authorization.Users
@using Abp.MultiTenancy
@section Scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/Account/ForgotPassword.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Account/ForgotPassword.min.js" asp-append-version="true"></script>
    </environment>
}
<form class="forget-form" asp-action="SendPasswordResetLink" method="post">
    <h3>@L("ForgotPassword")</h3>
    <p>
        @L("SendPasswordResetLink_Information")
    </p>

    @if (ViewBag.IsMultiTenancyEnabled)
    {
        if (string.IsNullOrEmpty(ViewBag.TenancyName))
        {
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">@L("TenancyName")</label>
                <input class="form-control form-control-solid placeholder-no-fix input-ltr" type="text" placeholder="@L("TenancyName")" name="tenancyName" maxlength="@AbpTenantBase.MaxTenancyNameLength" />
            </div>
        }
        else
        {
            <input type="hidden" name="tenancyName" value="@ViewBag.TenancyName" />
        }
    }
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">@L("EmailAddress")</label>
        <input class="form-control placeholder-no-fix" type="email" autocomplete="off" placeholder="@L("EmailAddress")" name="EmailAddress" required maxlength="@AbpUserBase.MaxEmailAddressLength" />
    </div>
    <div class="form-actions">
        <a asp-action="Login"><button type="button" id="back-btn" class="btn btn-default">@L("Back")</button></a>
        <button type="submit" class="btn btn-success uppercase pull-right">@L("Submit")</button>
    </div>
</form>