@model Pgpg.Web.Models.Account.SendSecurityCodeViewModel
<form asp-action="SendSecurityCode" method="post">
    <h3>@L("SendSecurityCode")</h3>
    <p>@L("SendSecurityCode_Information")</p>

    @Html.Hidden("returnUrl", Model.ReturnUrl)
    @Html.Hidden("rememberMe", @Model.RememberMe)

    <div class="form-group">
        @Html.DropDownListFor(model => model.SelectedProvider, Model.Providers, new
        {
            @class = "form-control"
        })
    </div>

    <div class="form-actions">
        <input type="submit" class="btn btn-success uppercase pull-right" value="@L("Submit")" />
    </div>
</form>