@using System.Threading
@using System.Threading.Tasks
@using Abp.Extensions
@using Abp.MultiTenancy
@using Pgpg.Web.Areas.Admin.Views.Shared.Components.AdminFooter
@using Pgpg.Web.Areas.Admin.Views.Shared.Components.AdminHeader
@using Pgpg.Web.Areas.Admin.Views.Shared.Components.AdminSideBar
@using Pgpg.Web.Resources
@using Abp.Web.Security.AntiForgery
@using Pgpg.Core.Features
@using Pgpg.Core.Localization
@using Pgpg.Core.Timing
@inject ScriptPaths ScriptPaths
@inject AppTimes AppTimes
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@{
    AbpAntiForgeryManager.SetCookie(Context);
}
<!DOCTYPE html>
<html lang="en" dir=@(CultureHelper.IsRtl ? "rtl" : "")>
<head>
    <title>Pgpg</title>
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <link rel="shortcut icon" href="~/favicon.ico" />

    <environment names="Development">
        <link rel="stylesheet" href="~/fonts/fonts-open-sans.css" asp-append-version="true" />

        @* Bundled: view-resources/Areas/Admin/Views/_Bundles/layout-libs[-rtl].min.css *@
        <link rel="stylesheet" href="~/lib/jquery-ui/themes/base/all.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/jtable/lib/themes/metro/blue/jtable.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/simple-line-icons/css/simple-line-icons.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/famfamfam-flags/dist/sprite/famfamfam-flags.css" asp-append-version="true" />
        <link rel="stylesheet" href="@(CultureHelper.IsRtl ? "~/lib/bootstrap-rtl/bootstrap-rtl.css" : "~/lib/bootstrap/dist/css/bootstrap.css")" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/jquery-uniform/css/uniform.default.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/jstree/dist/themes/default/style.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/morris.js/morris.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/toastr/toastr.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/sweetalert/dist/sweetalert.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/bootstrap-daterangepicker/daterangepicker.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/bootstrap-select/dist/css/bootstrap-select.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/Jcrop/css/Jcrop.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/metronic/assets/global/css/components-md@(CultureHelper.IsRtl ? "-rtl" : "").css" asp-append-version="true" />
        <link rel="stylesheet" href="~/metronic/assets/global/css/plugins-md@(CultureHelper.IsRtl ? "-rtl" : "").css" asp-append-version="true" />
        <link rel="stylesheet" href="~/metronic/assets/admin/layout4/css/layout@(CultureHelper.IsRtl ? "-rtl" : "").css" asp-append-version="true" />
        <link rel="stylesheet" href="~/metronic/assets/admin/layout4/css/themes/light@(CultureHelper.IsRtl ? "-rtl" : "").css" asp-append-version="true" />

        <link rel="stylesheet" href="~/Common/_Bundles/common-styles.css" asp-append-version="true" />

        @if (AbpSession.MultiTenancySide == MultiTenancySides.Host || IsFeatureEnabled(AppFeatures.ChatFeature))
        {
            <link rel="stylesheet" href="~/view-resources/Areas/Admin/Views/Layout/_ChatBar.css" asp-append-version="true" />
        }

        <link rel="stylesheet" href="~/view-resources/Areas/Admin/Views/Layout/_Layout.css" asp-append-version="true" />
    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/fonts/fonts-open-sans.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/view-resources/Areas/Admin/Views/_Bundles/layout-libs@(CultureHelper.IsRtl ? "-rtl" : "").min.css" asp-append-version="true" />

        <link rel="stylesheet" href="~/Common/_Bundles/common-styles.min.css" asp-append-version="true" />

        @if (AbpSession.MultiTenancySide == MultiTenancySides.Host || IsFeatureEnabled(AppFeatures.ChatFeature))
        {
            <link rel="stylesheet" href="~/view-resources/Areas/Admin/Views/Layout/_ChatBar.min.css" asp-append-version="true" />
        }

        <link rel="stylesheet" href="~/view-resources/Areas/Admin/Views/Layout/_Layout.min.css" asp-append-version="true" />
    </environment>

    @RenderSection("Styles", false)

    <script type="text/javascript">
        @* This is used to get the application's root path from javascript.
        It's useful if you're running application in a virtual directory under IIS. *@
        var abp = abp || {}; abp.appPath = '@ApplicationPath';
    </script>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
<!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default -->
<!-- DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle -->
<!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-fixed" class to have fixed sidebar -->
<!-- DOC: Apply "page-footer-fixed" class to the body element to have fixed footer -->
<!-- DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side -->
<!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu -->
<body class="page-md page-header-fixed page-sidebar-closed-hide-logo">

    <div class="page-header navbar navbar-fixed-top md-shadow-zero-light">
        @await Component.InvokeAsync(typeof(AdminHeaderViewComponent))
    </div>

    <div class="clearfix">
    </div>

    <div class="page-container">
        <div class="page-sidebar-wrapper">
            @await Component.InvokeAsync(typeof(AdminSideBarViewComponent), new { currentPageName = ViewBag.CurrentPageName })
        </div>
        <div class="page-content-wrapper">
            <div class="page-content">
                @RenderBody()
            </div>
        </div>
        @if (AbpSession.MultiTenancySide == MultiTenancySides.Host || IsFeatureEnabled(AppFeatures.ChatFeature))
        {
            @Html.Partial("~/Areas/Admin/Views/Layout/_ChatBar.cshtml")
        }
    </div>

    <div class="page-footer">
        @await Component.InvokeAsync(typeof(AdminFooterViewComponent))
    </div>

    <environment names="Development">
        @* Bundled: view-resources/Areas/Admin/Views/_Bundles/layout-libs.min.js *@
        <script src="~/lib/json2/json2.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-ui/jquery-ui.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-slimscroll/jquery.slimscroll.js" asp-append-version="true"></script>
        <script src="~/lib/blockUI/jquery.blockUI.js" asp-append-version="true"></script>
        <script src="~/lib/jquery.cookie/jquery.cookie.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-uniform/jquery.uniform.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-form/jquery.form.js" asp-append-version="true"></script>
        <script src="~/lib/jtable/lib/jquery.jtable.js" asp-append-version="true"></script>
        <script src="~/lib/Jcrop/js/jquery.color.js" asp-append-version="true"></script>
        <script src="~/lib/Jcrop/js/Jcrop.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-timeago/jquery.timeago.js" asp-append-version="true"></script>
        <script src="~/lib/signalr/jquery.signalR.js" asp-append-version="true"></script>
        <script src="~/lib/localforage/dist/localforage.js" asp-append-version="true"></script>
        <script src="~/lib/morris.js/morris.js" asp-append-version="true"></script>
        <script src="~/lib/raphael/raphael.js" asp-append-version="true"></script>
        <script src="~/lib/jquery.sparkline/dist/jquery.sparkline.js" asp-append-version="true"></script>
        <script src="~/lib/jstree/dist/jstree.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap-switch/dist/js/bootstrap-switch.js" asp-append-version="true"></script>
        <script src="~/lib/spin.js/spin.js" asp-append-version="true"></script>
        <script src="~/lib/spin.js/jquery.spin.js" asp-append-version="true"></script>
        <script src="~/lib/sweetalert/dist/sweetalert-dev.js" asp-append-version="true"></script>
        <script src="~/lib/toastr/toastr.js" asp-append-version="true"></script>
        <script src="~/lib/moment/min/moment-with-locales.js" asp-append-version="true"></script>
        <script src="~/lib/moment-timezone/builds/moment-timezone-with-data.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap-daterangepicker/daterangepicker.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap-select/dist/js/bootstrap-select.js" asp-append-version="true"></script>
        <script src="~/lib/underscore/underscore.js" asp-append-version="true"></script>
        <script src="~/lib/mustache.js/mustache.js" asp-append-version="true"></script>
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/abp.js" asp-append-version="true"></script>
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.jquery.js" asp-append-version="true"></script>
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.toastr.js" asp-append-version="true"></script>
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.blockUI.js" asp-append-version="true"></script>
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.spin.js" asp-append-version="true"></script>
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.sweet-alert.js" asp-append-version="true"></script>
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.moment.js" asp-append-version="true"></script>
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.jtable.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Areas/Admin/Views/_Bundles/layout-libs.min.js" asp-append-version="true"></script>
    </environment>

    <script src="@ScriptPaths.JQuery_Validation_Localization" asp-append-version="true"></script>
    <script src="@ScriptPaths.JQuery_JTable_Localization" asp-append-version="true"></script>
    <script src="@ScriptPaths.Bootstrap_Select_Localization" asp-append-version="true"></script>
    <script src="@ScriptPaths.JQuery_Timeago_Localization" asp-append-version="true"></script>

    <script>
        abp.localization.defaultSourceName = '@LocalizationSourceName';
        moment.locale('@Thread.CurrentThread.CurrentUICulture.Name'); //Localizing moment.js
    </script>

    <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
    <script src="~/AbpServiceProxies/GetAll?v=@(AppTimes.StartupTime.Ticks)" type="text/javascript"></script>
    <script src="~/AbpScripts/GetScripts?v=@(AppTimes.StartupTime.Ticks)" type="text/javascript"></script>

    <!-- SignalR scripts -->
    <script src="~/signalr/hubs"></script>
    <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.signalr.js" asp-append-version="true"></script>

    <environment names="Development">
        @* Bundled: view-resources/Areas/Admin/Views/_Bundles/layout-metronic.min.js *@
        <script src="~/metronic/assets/global/scripts/app.js" asp-append-version="true"></script>
        <script src="~/metronic/assets/admin/layout4/scripts/layout.js" asp-append-version="true"></script>
        <script src="~/metronic/assets/layouts/global/scripts/quick-sidebar.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Areas/Admin/Views/_Bundles/layout-metronic.min.js" asp-append-version="true"></script>
    </environment>

    <script type="text/javascript">
        App.setAssetsPath(abp.appPath + 'metronic/assets/');
    </script>

    <environment names="Development">
        @* Bundled (not minified) for all scripts in Common/Scripts folder. Minified: wwwroot/Common/_Bundles/common-scripts.min.js *@
        <script src="~/Common/_Bundles/common-scripts.js" asp-append-version="true"></script>
        @* Bundled (not minified) for all scripts in view-resources/Areas/Admin/Common/Scripts folder. Minified: view-resources/Areas/Admin/Common/_Bundles/common-scripts.js *@
        <script src="~/view-resources/Areas/Admin/Common/_Bundles/common-scripts.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/Admin/Views/Layout/_Header.js" asp-append-version="true"></script>
        @if (AbpSession.MultiTenancySide == MultiTenancySides.Host || IsFeatureEnabled(AppFeatures.ChatFeature))
        {
            <script src="~/view-resources/Areas/Admin/Views/Layout/_ChatBar.js" asp-append-version="true"></script>
        }
    </environment>

    <environment names="Staging,Production">
        <script src="~/Common/_Bundles/common-scripts.min.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/Admin/Common/_Bundles/common-scripts.min.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/Admin/Views/Layout/_Header.min.js" asp-append-version="true"></script>
        @if (AbpSession.MultiTenancySide == MultiTenancySides.Host || IsFeatureEnabled(AppFeatures.ChatFeature))
        {
            <script src="~/view-resources/Areas/Admin/Views/Layout/_ChatBar.min.js" asp-append-version="true"></script>
        }
    </environment>


    @RenderSection("Scripts", false)
</body>
</html>